.container{
    
    background-color: rgb(235, 232, 238);
    width: 50%;
    margin-top: 100;
    margin-left: 100;
    float: left;
    border-radius: 10px;
    
}
.error {
    color: red;
}

.head{
    text-decoration: solid;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin: 10 auto auto auto;
}
.btn{
    background-color: rgb(13, 174, 255);
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
}
body {
    background-image: url('desk-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}